@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Slab:wght@100..900&display=swap');
html, body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: font-family "Nunito Sans", sans-serif;
}
.wrapper {
    width: 1024px;
    margin: auto;
    padding: 20px 0px 20px 0px;

}
/*
*menu
*/
nav {
    background-color:#FDCEDF;
    color: #333;
    position: sticky;
    top: 0;
    z-index: 100;
}
nav > .wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;
}
.menu {
    width: 50%;
    
}
.menu > ul{
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
}
.menu > ul > li > a {
    text-decoration: none;
    color: black;

}
.logo {
    display: flex;
    align-items: center;
}
.logo > img {
    height: 45px;

}

/*
*hero/jumbotron
*/

header {
    background: url("../backgroundpink.jpg");
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    font-family: "Kanit", sans-serif;
    letter-spacing: 5px;
    text-shadow: 0 0 4px #f2d3d1;

}
.header-opacity {
     background-color: #F8E8EE;
     width: 100%;
     height: 100%;
     opacity: 0.6;
     position: absolute;
     top: 0;
     left: 0;

}

.header-jumbotron {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    text-align: center;
     
}
.header-jumbotron > h4 {
    color: #f2d3d1;
    font-size: 2rem;
    margin: 0px;
    padding: 0px;

}
.header-jumbotron > h5 {
    color: #333;
    margin: 0px;
    padding: 5px;
    font-size: 3.5rem;
    line-height: 3.9rem;
    text-transform: uppercase;

}
.header-jumbotron > P {
    padding: 5px;
    margin: 0px 5px 20px 5px;
    color: #333;
}
a {
    text-decoration: none;
    color: #333;
    text-shadow: none;
}
.button {
    background-color: #f2d3d1;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;

}
.button-xl {
    font-size: 1.4rem;
    padding: 20px;
}
/*
*statistic
*/
#statistic {
    background-color: #F8E8EE;
    color: #333;

}
#statistic > .wrapper {
    padding: 50px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    
}
#statistic > .wrapper > div {
    
    text-align: center;
}
#statistic > .wrapper > div > p {
    font-size: 3.5rem;
    margin: 0px;
    padding: 0px;

}

#statistic > .wrapper > div > p {
    margin-right: 10px;
    font-size: 3.5rem;
    font-family: "Kanit", sans-serif;

}
#statistic > .wrapper > div > small {
    font-size: 1.5rem;

}
/*
*premium course
*/
#premium-course {
    background-color:#FDCEDF;
}
#premium-course > .wrapper {
padding: 50px;
}

#premium-course > .wrapper > h4 {
    text-align: center;
    font-size: 2.8rem;
    margin: 0px;
    padding: 0px;
    font-family: "Kanit", sans-serif;

}
#premium-course > .wrapper > h4 > span {
    color: #FF9494;
}


#premium-course > .wrapper > p{
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin-bottom: 50px;
}
.grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 50px;

}
.grid > .item {
    border: 1px solid 1px solid #666; 
    background-color: #F8E8EE;
    border-radius: 5px;
    position: relative;


}
.grid > .item > img {
    width: 15%;
    position: absolute;
    top: 10px;
    right: 10px;
}
.grid > .item > .item-detail {
    padding: 30px;
    font-size: 1.3rem;
    font-weight: bold;
    width: 70%;

}
.grid > .item > .item-detail > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
 .grid > .item > .item-detail > div > small {
    color: #333;
    font-size: 1rem;
    font-style: italic;
}

/*
*.tentang saya
*/

#tentang-saya{
    background-color:#F9F5F6;
}
#tentang-saya > .wrapper {
padding: 50px;
}

#tentang-saya > .wrapper > h4 {
    text-align: center;
    font-size: 2.8rem;
    margin: 0px;
    padding: 0px;
    font-family: "Kanit", sans-serif;

}

#tentang-saya > .wrapper > p{
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin-bottom: 50px;
}
#tentang-saya > .wrapper > div{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    
}
#tentang-saya > .wrapper > div > .foto {
width: 30%;
}

#tentang-saya > .wrapper > div > .foto > img {
max-width: 100%;
}
#tentang-saya > .wrapper > div > .desc {
width: 70%;
padding: 20px;
margin: 10px;
background-color: #F2BED1;
border-radius: 10px;
}

#tentang-saya > .wrapper > div > .desc > p {
    margin: 0px 0px 10px 0px;
    font-size: 1.3rem;
    line-height: 1.9rem;
}
#tentang-saya > .wrapper > div > .desc > .social {
display: flex;
width: 30%;
justify-content: space-between;
font-size: 1.3rem;
}

#tentang-saya > .wrapper > div > .desc > .social > a {
color: antiquewhite;
}
/*
*.free course
*/
#free-course {
    background-color: #FFE2E2;
    padding: 50px 0px 50px 0px;

}
#free-course > .wrapper {
padding: 50px 0px 50px 0px;
}

#free-course > .wrapper > h4 {
    text-align: center;
    font-size: 2.8rem;
    margin: 0px;
    padding: 0px;
    font-family: "Kanit", sans-serif;

}
#free-course > .wrapper > h4 > span {
    color: #FF9494;
}
#free-course > .wrapper > p {
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin-bottom: 50px;
}

#free-course > .wrapper > .grid > .item {
    background-color: #FFC7C7;
    margin: 0px;
    padding: 0px;

}

#free-course > .wrapper > .grid > .item > .item-detail {
    padding: 0px;
    margin: 0px;
font-size: 1.4rem;
width: 100%;
}

#free-course > .wrapper > .grid > .item > .item-detail > img {
    width: 100%
    

}

#free-course > .wrapper > .grid > .item > .item-detail > div {
    padding: 10px 20px 10px 20px;
    
     
}
/*
*.copyright
*/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
}

/*
*.hamburger-menu
*/

button.hamburger-menu{
    background: none;
    border: none;
    cursor: pointer;
    display: none;

}

button.hamburger-menu > i {
    color: #333;
    font-size: 1.5rem;

}

button.hamburger-menu > i.icon-close {
    display: none;
}

/*
*.1024, 900, 768, 600, 450
*/
@media only screen and (max-width: 1024px) {
.wrapper{
    width: 90%;

}
}
@media only screen and (max-width: 900px) {
    #statistic > .wrapper > div > p {
    font-size: 2.5rem;
    margin: 0px;
    padding: 0px;}
}
#statistic > .wrapper > div > small {
    font-size: 1rem;
}

.grid {
    grid-template-columns: 45% 45%;
}
.item > img {
    width: 8%;
}
.menu {
    width: 60%;
}
.header-jumbotron > h4 {
    font-size: 1.5rem;


}
.header-jumbotron > h5 {
    font-size: 2rem;
    line-height: 2.2rem;
}